section#alert
    .section-title
        h1 Alert
        .section-desc - Alert System
    .section-contents
        h4.contents-title 기본
        .contents-wrapper
            .ga-alert Standard
            .ga-alert.ga-success-light Success
        h4.contents-title 상태
            .contents-wrapper
                .ga-alert.ga-success-light Success
                .ga-alert.ga-danger-light Danger
                .ga-alert.ga-info-light Info