section#typography
    .section-title
        h1 Typography
    .section-contents
        h4.contents-title
            .ga-tag.label.primary
                i.icon.left.fa.fa-at
                | fontfamily
            | Spoqa Han Sans
        .contents-wrapper
            .ga-grid
                .column.span-2.mainWord Aa
                .column.span-8.mainWord 가나다
                .column.span-10
                    p ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    p abcdefghijklmnopqrstuvwxyz
                    p 1234567890 ,./(){}[]\|:;"'?
                    p 가나다라마바사 스포크 한 산스
    .section-contents
        h4.contents-title
            .ga-tag.label.secondary
                i.icon.left.fa.fa-at
                | fontfamily
            | Pretendard
        .contents-wrapper.pretendard
            .ga-grid
                .column.span-2.mainWord Aa
                .column.span-8.mainWord 가나다
                .column.span-10
                    p ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    p abcdefghijklmnopqrstuvwxyz
                    p 1234567890 ,./(){}[]\|:;"'?
                    p 가나다라마바사 프리텐다드
    .section-contents
        h4.contents-title Weight
        .contents-wrapper
            .ga-grid.grid-table
                .rows.grid-header
                    .column.span-3 Name
                    .column.span-2 Value
                    .column.span-6 Usage
                .rows
                    .column.span-3 Light
                    .column.span-2 100
                    .column.span-6.light Gabia UI System
                .rows
                    .column.span-3 Regular
                    .column.span-2 400
                    .column.span-6 Gabia UI System
                .rows
                    .column.span-3 Bold
                    .column.span-2 600
                    .column.span-6.bold Gabia UI System
    .section-contents
        h4.contents-title Spacing
        .contents-wrapper
            .ga-grid.grid-table
                .rows.grid-header
                    .column.span-2 Name
                    .column.span-2 Value
                    .column.span-3 Class
                    .column.span-5 Usage
                .rows
                    .column.span-2 Wider
                    .column.span-2 1
                    .column.span-3 spacing-wider
                    .column.span-5.spacing-wider Gabia UI System
                .rows
                    .column.span-2 Wide
                    .column.span-2 0.5
                    .column.span-3 spacing-wide
                    .column.span-5.spacing-wide Gabia UI System
                .rows
                    .column.span-2 Normal
                    .column.span-2 0
                    .column.span-3
                    .column.span-5 Gabia UI System
                .rows
                    .column.span-2 Narrow
                    .column.span-2 -0.5
                    .column.span-3 spacing-narrow
                    .column.span-5.spacing-narrow Gabia UI System
                .rows
                    .column.span-2 Narrower
                    .column.span-2 -1
                    .column.span-3 spacing-narrower
                    .column.span-5.spacing-narrower Gabia UI System
    .section-contents
        h4.header.contents-title Heading
        .contents-wrapper
            h1.header [H1] Gabia UI System (28px)
            h2.header [H2] Gabia UI System (24px)
            h3.header [H3] Gabia UI System (18px)
            h4.header [H4] Gabia UI System (16px)
            h5.header [H5] Gabia UI System (14px)
    .section-contents
        h4.contents-title Size
        .contents-wrapper
            .ga-button.tiny Tiny
            .ga-button.small Small
            .ga-button.medium.toast-open Medium
            .ga-button.large Large
            .ga-button.huge Huge
            .ga-button.massive Massive
        .contents-wrapper
            .contents-item.tiny [Tiny] Gabia UI System (10px)
            .contents-item.small [Small] Gabia UI System (12px)
            .contents-item.medium [Medium] Gabia UI System (14px)
            .contents-item.large [Large] Gabia UI System (18px)
            .contents-item.huge [Huge] Gabia UI System (20px)
            .contents-item.massive [Massive] Gabia UI System (22px)
