extends ../page_layout.pug

block title
    title Ga-UI CALENDAR
block contents
    .page-wrapper
        section#calendar
            .section-title
                h1 Calendar
            .section-contents
                h4 달력
                .ga-card.attached
                    .contents-wrapper
                    
                        .ga-calendar
                            .calendar-header 
                                span.year
                                span.month 
                            .week-wrapper
                                - var weeks = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
                                    each week in weeks
                                        .cell.week-cell(data-name=`${week}`)
                            .cell-wrapper
                                // - var month = new Date().getMonth() + 1
                                //span.reset-btn= `${month}`
block module 
    script(src="../js/calendar.js")
    script. 
        setCalendar()
                    
