section#calendar
    .section-title
        h1 Calendar
    .section-contents
        h4 달력
        .contents-wrapper
            .ga-calendar
                .week-wrapper
                    - var weeks = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
                        each week in weeks
                            .cell.week-cell(data-name=`${week}`)
                .cell-wrapper
                    // - var month = new Date().getMonth() + 1
                    //span.reset-btn= `${month}`
