section#tabs
    .section-title
        h1 Cards
    .section-contents
        h4.contents-title 정의
        ul
            li - 배경색 @cardBackground: #fff
            li - 내용 구분 (image, header, contents ... )
            li - 옵션 영역 (footer)
            li - cards + grid
            li - card group
            li - fluid
            li - selected
        h4.contents-title 기본
        .contents-wrapper
