section#grid
    .section-title
        h1 Grid
        .section-desc - Grid System.
    .section-contents
        h4.contents-title 기본
        .contents-wrapper
            .ga-grid.divide
                each col in [1, 2, 3, 4, 5, 6]
                    .column
                each col in [1, 2, 3, 4, 5, 6]
                    .column
        h4.contents-title 균등 분할
        .contents-wrapper
            .ga-grid.divide.half
                .column
                .column
            .ga-grid.divide.quarter
                .column
                .column
                .column
                .column
        h4.contents-title  분할 구성
        .contents-wrapper
            .ga-grid.right-side
                .rows
                    .column.span-2
                    .column.span-4
                    .column.span-1
                    .column
                .rows
                    .column.span-2
                    .column.span-4
                    .column.span-1
                    .column
                    .column.span-1
                    .column