section#modal
    .section-title
        h1 Modal
    .section-contents
        h4.contents-title 기본
        .contents-wrapper
            .ga-modal
                .modal
                    .modal-header
                        .title 모달 제목
                        .close-btn
                            i.fa.fa-xmark
                    .modal-contents
                        div.contents 모달 내용
                    .modal-footer
                        button.ga-button.primary 확인
                        button.ga-button.secondary.outline 취소
    .section-contents
        h4.contents-title 실행
        .contents-wrapper
            button.ga-button.green.show-btn SHOW MODAL
            .ga-modal-container.ga-modal-background
                .ga-modal
                    .modal
                        .modal-header
                            .title 모달 제목
                            .close-btn.close
                                i.fa.fa-xmark
                        .modal-contents
                            div.contents 모달 내용
                        .modal-footer
                            button.ga-button.primary 확인
                            button.ga-button.secondary.outline 취소