section#switch
    .section-title
        h1 Switch
    .section-contents
        h4.contents-title 기본 타입 1
        .contents-wrapper
            label.ga-switch.slide
                input(type="checkbox", checked)
                span.switch
    .section-contents
        h4.contents-title 기본 타입 2
        .contents-wrapper
            label.ga-switch.slide.inside
                input(type="checkbox", checked)
                span.switch
    .section-contents
        h4.contents-title 둥그라미
        .contents-wrapper
            label.ga-switch.slide.inside
                input(type="checkbox", checked)
                span.switch.round
        .contents-wrapper
            label.ga-switch.slide
                input(type="checkbox", checked)
                span.switch.round
    .section-contents
        h4.contents-title 버튼
        .contents-wrapper
            label.ga-switch.button
                input(type="checkbox", checked)
                span.on.active ON
                span.off OFF
        .contents-wrapper
            label.ga-switch.button.round
                input(type="checkbox", checked)
                span.on.active 승인
                span.off 미승인