section#tag
    .section-title
        h1 Tag
        .section-desc - Tag System
    .section-contents
        h4.contents-title 기본
        .contents-wrapper
            .ga-tag.label Standard
            .ga-tag.label 라벨
            .ga-tag.label
                i.fa.fa-user
            .ga-tag.label
                i.fa.fa-star
            .ga-tag.label
                i.fa.fa-crown
        h4.contents-title Line Type
        .contents-wrapper
            .ga-tag.line
            .ga-tag.line.red
            .ga-tag.line.blue
            .ga-tag.line.green
        h4.contents-title Dot Type
        .contents-wrapper
            .ga-tag.dot
            .ga-tag.dot.red
            .ga-tag.dot.blue
            .ga-tag.dot.green
        h4.contents-title icon (only label type)
        .contents-wrapper
            .ga-tag.label
                i.icon.left.fa.fa-chevron-left
                | Left
            .ga-tag.label
                | Right
                i.icon.right.fa.fa-chevron-right
            .ga-tag.label.primary
                i.icon.left.fa.fa-users
                | Users
            .ga-tag.label.secondary
                i.icon.left.fa.fa-ufo
                | Update
            .ga-tag.label.red
                i.icon.left.fa.fa-n
                | New
            .ga-tag.label.green
                i.icon.left.fa.fa-phone
                | Sale
        h4.contents-title Tags
        .contents-wrapper
            .ga-tags
                .ga-tag.label.red red
                .ga-tag.label.orange orange
                .ga-tag.label.yellow yellow
        h4.contents-title Hover Effect
        .contents-wrapper
            .ga-tags.one-of-a-kind
                .ga-tag.label.blue blue
                .ga-tag.label.deepblue deep blue
                .ga-tag.label.deeppurple deep purple
                .ga-tag.label.purple purple
        h4.contents-title Brand Colors
        .contents-wrapper
            .ga-tag.label.primary Primary
            .ga-tag.label.secondary Secondary
            .ga-tag.label.info Info
            .ga-tag.label.danger Danger
            .ga-tag.label.attention Attention
            .ga-tag.label.importance Importance
        h4.contents-title Colors
        .contents-wrapper
            .ga-tag.label.red Red
            .ga-tag.label.orange Orange
            .ga-tag.label.yellow Yellow
            .ga-tag.label.lightgreen Light Green
            .ga-tag.label.lightblue Light Blue
            .ga-tag.label.blue Blue
            .ga-tag.label.deepblue Deep Blue
            .ga-tag.label.deeppurple Deep Purple
            .ga-tag.label.purple Purple
            .ga-tag.label.brown Brown
            .ga-tag.label.gray Gray