extends ../page_layout.pug

block title
    title Ga-UI TOAST

block contents
    .page-wrapper
        section#toast
            .section-title
                h1 Toast
            .section-contents
                h4.contents-title 기본
                .ga-card.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-contents success
                h4.contents-title 닫기 버튼 사용
                .ga-card.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-contents success
                            .toast-close
                                i.fa.fa-xmark
                h4.contents-title 아이콘 표시
                .ga-card.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-icon
                                i.fa.fa-circle-check
                            .toast-contents success
                        .toast.ga-danger
                            .toast-icon
                                i.fa.fa-circle-exclamation
                            .toast-contents danger
                        .toast.ga-deepblue
                            .toast-icon
                                i.fa.fa-hexagon-exclamation
                            .toast-contents message
                h4.contents-title 동그랗게
                .ga-card.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success.round
                            .toast-icon
                                i.fa.fa-circle-check
                            .toast-contents success
                            .toast-close
                                i.fa.fa-xmark
                h4.contents-title 스타일
                .ga-card.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-icon
                                i.fa.fa-circle-check
                            .toast-contents success
                            .toast-close
                                i.fa.fa-xmark
                        .toast
                            .toast-icon.ga-success
                                i.fa.fa-circle-check
                            .toast-contents success
                            .toast-close
                                i.fa.fa-xmark
                        .toast.border-left
                            .toast-contents.ga-success-border success
                            .toast-close
                                i.fa.fa-xmark
                        .toast
                            .toast-icon.ga-success-text
                                i.fa.fa-circle-check
                            .toast-contents.ga-success-border success
                            .toast-close
                                i.fa.fa-xmark
                        .toast.ga-success-light
                            .toast-icon
                                i.fa.fa-circle-check
                            .toast-contents
                                span.bolder success
                            .toast-close
                                i.fa.fa-xmark
                h4.contents-title 테스트
                .ga-card.attached
                    .contents-wrapper.open-btn
                        div.ga-tag.label.success success
                        div.ga-tag.label.info info
                        div.ga-tag.label.danger danger
                        div.ga-tag.label.attention attention
                        div.ga-tag.label.importance importance
                        div.ga-tag.label.primary primary
                        div.ga-tag.label.secondary secondary
                        div.ga-tag.label.red red
                        div.ga-tag.label.orange orange
                        div.ga-tag.label.yellow yellow
                        div.ga-tag.label.lightgreen lightgreen
                        div.ga-tag.label.green green
                        div.ga-tag.label.lightblue lightblue
                        div.ga-tag.label.blue blue
                        div.ga-tag.label.deepblue deepblue
                        div.ga-tag.label.deeppurple deeppurple
                        div.ga-tag.label.purple purple
                        div.ga-tag.label.brown brown
                    button.ga-button.clear-btn Clear
block module 
    script(src="../js/toast.js")
