section#toast
    .section-title
        h1 Toast
    .section-contents
        h4.contents-title 기본
        .contents-wrapper.open-btn
            button.ga-button.success success
            button.ga-button.info info
            button.ga-button.danger danger
            button.ga-button.attention attention
            button.ga-button.importance importance
            button.ga-button.primary primary
            button.ga-button.secondary secondary
            button.ga-button.red red
            button.ga-button.orange orange
            button.ga-button.yellow yellow
            button.ga-button.lightgreen lightgreen
            button.ga-button.green green
            button.ga-button.lightblue lightblue
            button.ga-button.blue blue
            button.ga-button.deepblue deepblue
            button.ga-button.deeppurple deeppurple
            button.ga-button.purple purple
            button.ga-button.brown brown
        button.ga-button.clear-btn Clear
        h4.contents-title 기본
        .contents-wrapper.ex_toast_board
            .toast.ga-success
                .toast-contents success
        h4.contents-title 닫기 버튼 사용
        .contents-wrapper.ex_toast_board
            .toast.ga-success
                .toast-contents success
                .toast-close
                    i.fa.fa-xmark
        h4.contents-title 아이콘 표시
        .contents-wrapper.ex_toast_board
            .toast.ga-success
                .toast-icon
                    i.fa.fa-circle-check
                .toast-contents success
            .toast.ga-danger
                .toast-icon
                    i.fa.fa-circle-exclamation
                .toast-contents danger
            .toast.ga-deepblue
                .toast-icon
                    i.fa.fa-hexagon-exclamation
                .toast-contents message
        h4.contents-title 동그랗게
        .contents-wrapper.ex_toast_board
            .toast.ga-success.round
                .toast-icon
                    i.fa.fa-circle-check
                .toast-contents success
                .toast-close
                    i.fa.fa-xmark
        h4.contents-title 스타일
        .contents-wrapper.ex_toast_board
            .toast.ga-success
                .toast-icon
                    i.fa.fa-circle-check
                .toast-contents success
                .toast-close
                    i.fa.fa-xmark
            .toast
                .toast-icon.ga-success
                    i.fa.fa-circle-check
                .toast-contents success
                .toast-close
                    i.fa.fa-xmark
            .toast.border-left
                .toast-contents.ga-success-border success
                .toast-close
                    i.fa.fa-xmark
            .toast
                .toast-icon.ga-success-text
                    i.fa.fa-circle-check
                .toast-contents.ga-success-border success
                .toast-close
                    i.fa.fa-xmark
            .toast.ga-success-light
                .toast-icon
                    i.fa.fa-circle-check
                .toast-contents
                    span.bolder success
                .toast-close
                    i.fa.fa-xmark
