extends layout.pug

block title
    title Gabia-UI Test

block style
    link(href="gabiaui.css", rel="stylesheet")
    link(href="../prism/prism.css", rel="stylesheet")

block contents
    .page-wrapper
        h1.h1.title  Style Guide
        include pages/base.pug
        include pages/colors.pug
        include pages/button.pug
        include pages/input.pug
        include pages/tag.pug
        include pages/badge.pug
        include pages/alert.pug
        include pages/checkbox.pug
        include pages/switch.pug
        include pages/selectbox.pug
        include pages/grid.pug
        include pages/grid2.pug
        include pages/form.pug
        include pages/list.pug
        include pages/tabs.pug
        include pages/cards.pug
        include pages/pagination.pug
        include pages/calendar.pug
        include pages/table.pug
        include pages/panel.pug
        include pages/modal.pug
        include pages/toast.pug