doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
        link(href="assets/fonts/Pretendard/pretendard.css", rel="stylesheet")
        link(href="assets/fonts/SpoqaHanSans/spoqahansans.css", rel="stylesheet")
        block style

        link(href="style.css", rel="stylesheet")
    body
        .container
            //.left-part
                include lnb.pug
            .right-part
                block contents
        script(src="../prism/prism.js")
        script(src="js/ga_ui.js")